.movies-grid {
}

.movies-grid-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;
}

@media only screen and (min-width: 1024px) {
	.movies-grid-list {
		justify-content: flex-start;
	}
}

.movies-grid li {
	margin: 10px;
	background: white;
	transition: 0.2s transform;
	width: 182px;
	border-radius: 5px;
}

.movies-grid li:hover {
	transform: scale(1.05);
}

.movies-grid h4 {
	display: inline;
}

.movies-grid-item-content {
	padding: 10px;
}